- content_for :seo_description, "Every registered coder can suggest project ideas. A shortlist of ideas will be finalized 2 weeks before the Code Camp."
- content_for :seo_title, "| Ideas"

.block
  - flash.each do |name, msg|
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"} &#215;
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
  .secondary-navigation.pull-right
    - if current_account.nil?
      =link_to "Register", register_path, class: "btn btn-large"
    - else
      =link_to "Propose idea", url(:ideas, :new), class: "btn btn-large"
  .content
    %h1 Ideas
    .stickies.row
      .ideas
        - @ideas.all.sort_by{ rand }.each do |idea|
          .span4.idea-note.sticky.rotating
            = link_to url(:ideas, :show, :id => idea.id) do
              - if idea.comments.any?
                %span.comments-count.pull-right
                  = image_tag "comment.png"                            
              %article
                %h2= idea.name
                %p= idea.description
            %span.voting-links.pull-right
              - if current_account
                - form_for :idea, url(:ideas, :up_vote, id: idea.id), method: :post do |f|
                  = f.submit vote_content(idea), class: :btn
              - else
                .btn.disabled{title: "sign in to vote on ideas"}
                  = vote_content(idea)

-content_for :javascripts do
  :javascript
    jQuery(function($){
      var $coders = $('.ideas');
      $coders.imagesLoaded(function(){
        $coders.masonry({
          itemSelector : '.idea-note'
        });
      });
    });
