- content_for :seo_description, @idea.description
- content_for :seo_title, "| #{@idea.name}"

%article.row
  .span9
    .panel

      %header
        %h1
          = @idea.name
          %small
            by
            = @idea.published_by_account.name
            = gravatar_tag @idea.published_by_account, size: 50

      %p= @idea.description

      %ol
        %li= @idea.cool_thing1
        %li= @idea.cool_thing2
        %li= @idea.cool_thing3

  .span3
    .panel
      %aside
        %h3 Share this
        = partial "/social"