.content
  %h2.title.clearfix
    .pull-left= @idea.name
    .fb_share.pull-left
      = partial "/social"

  %hr
    .row
      .span7
        .inner
          .group
            %h4 Description:
            = @idea.description

          .group
            %h4 Cool Things:
            %ul
              %li= @idea.cool_thing1
              %li= @idea.cool_thing2
              %li= @idea.cool_thing3

      .span4
        %h4 Proposed by:
        .span3= gravatar_span @idea.published_by_account