%article.row
  .span9
    %header.banner
      %h1 Hong Kong Coders Camp 2012
      %h2 ~ 24 Hours Iterative Coding ~
      %h4 Date: 12 Oct (Fri) ~ 13 Oct (Sat)
      %h4 Time: 19:00 ~ 19:00
      %h4 Venue: To Be Confirmed

      .homepage-action-buttons
        =link_to "Register Now", register_path, class: "btn btn-large"

    %section.panel
      %header
        %h2 How does it work

      %p
        Our target is only one simple thing:
        %strong come together on 12th Oct and code all day long
        \.

      %br

      %p
        We are not going to enforce rules like your boss dictating what you have to build.
      %p
        But we try our best to make sure you will have a great time with other coders.

    %section.panel
      %header
        %h2 Schedule

      %table.schedule-overview
        %thead
          %tr
            %th 20 Aug ~ 23 Sep
            %th 24 Sep ~ 30 Sep
            %th 31 Sep ~ 12 Oct
            %th 12 Oct ~ 13 Oct
        %tbody
          %tr
            %td= link_to "Idea Election", "#"
            %td= link_to "Finalists Annoucement", "#"
            %td= link_to "Team Formation", "#"
            %td= link_to "CODE", "#"

      %ol
        %li
          %h4 Idea Election
          %ul
            %li After registration, you can suggest ideas and vote on ideas
        %li
          %h4 Idea Finalists Annoucement
          %ul
            %li Depends on the number of ideas and registrations we receive, a shortlist of most popular ideas will be announced.
        %li
          %h4 Project Team Formation
          %ul
            %li Around 2 weeks time will be given to finalize team members, fine-tune project scope, gathering resources, setting up your dev machine.
        %li
          %h4 Code !
          %ul
            %li Within that 24 hours, we will have several all-together standup meetings as a chance to share your progress and give hands.
            %li standup_at: [22:00, 13:00, 17:00]
            %li You are encouraged to stay overnight, sleeping bags will be ready.
            %li At the end (19:00, 13th Oct), each team is going to give a short presentation about what they have done in last 24 hours. (just a hint ... coders like demo more than slideshow ^__^)

    %section.panel
      %header
        %h2 What to build

      %p We don't care if the system you build is solving 1,000,000 dollars problem or not.
      %p We don't give a shit about the business model.
      %p We just want you to build something fun together.

    %section.panel
      %header
        %h2 Why ?

      %p.lead
        You are not the only GEEK in the village !
      %p
        There are so many passionated coders like you, who wanna spend time and effort on something interesting.
      %p
        Just come and do something. I don't have to give you reason at all.

    %section.panel
      %header
        %h2 Who can join ?

      %p
        If you are interested in coding, come and join us.
      %p
        The event is programming language agnostic. You can pick whatever you like from your toolbox to make it happen.


    %section.panel
      %header
        %h2 Sponsors

      %ul
        %li Thought Sauce
        %li Hooko
        %li ... (let us know if you would like to sponsor us)

    %section.panel
      %header
        %h2 Equipment
      %p
        Here are things we will provide:
      %ul
        %li Wifi access
        %li sleeping bags
        %li lunch and dinner ( very likely Pizza and Salad )
        %li snacks and drinks ( beer, redbull, ...)

    %section.panel
      %header
        %h2 You have a question ?
      %p
        email: tatonlto [at] gmail.com
      %p
        =link_to "Google Group", "http://groups.google.com/group/codeaholics"
      %p
        =link_to "Facebook Page", "https://www.facebook.com/codeaholics"
      %p
        Note: this whole thing was proposed at Codeaholics HK August Meetup.
        =link_to "Proposal", "http://codeaholics-hk-camp-2012.herokuapp.com/"

  .span3
    %figure
      = image_tag("camp_logo.png")

    %aside.panel
      %h3 Wanna join ?
      %p
        Register with your
        =link_to( image_tag("github.png", title: "Github OAuth"), register_path)

      = partial "social"
