%article.row
  .span9
    %header.banner
      %h1= t('home.app_name')
      %h2= t('home.app_tagline')
      %h4= t('home.code_camp_date')
      %h4= t('home.code_camp_time')
      %h4= t('home.code_camp_venue')

      .homepage-action-buttons
        =link_to t('btn.register_now'), register_path, class: "btn btn-large"

    %section.panel
      %header
        %h2= t('section.how_does_it_work.heading')

      %p= t('section.how_does_it_work.content')

    %section.panel
      %header
        %h2= t('section.schedule.heading')

      %table.schedule-overview
        %thead
          %tr
            %th= t('section.schedule.idea_election.date_range')
            %th= t('section.schedule.idea_finalists.date_range')
            %th= t('section.schedule.team_formation.date_range')
            %th= t('section.schedule.code_day.date_range')
        %tbody
          %tr
            %td= link_to t('section.schedule.idea_election.heading'), "#"
            %td= link_to t('section.schedule.idea_finalists.heading'), "#"
            %td= link_to t('section.schedule.team_formation.heading'), "#"
            %td= link_to t('section.schedule.code_day.heading'), "#"

      %ol
        %li
          %h4= t('section.schedule.idea_election.heading')
          %ul
            %li= t('section.schedule.idea_election.content')
        %li
          %h4= t('section.schedule.idea_finalists.heading')
          %ul
            %li= t('section.schedule.idea_finalists.content') 
        %li
          %h4= t('section.schedule.team_formation.heading')
          %ul
            %li= t('section.schedule.team_formation.content')
        %li
          %h4= t('section.schedule.code_day.heading')
          %ul
            %li= t('section.schedule.code_day.content_1')
            %li= t('section.schedule.code_day.content_2')
            %li= t('section.schedule.code_day.content_3')
            %li= t('section.schedule.code_day.content_4')

    %section.panel
      %header
        %h2= t('section.what.heading')

      %p= t('section.what.content_1')
      %p= t('section.what.content_2')
      %p= t('section.what.content_3')

    %section.panel
      %header
        %h2= t('section.why.heading')

      %p.lead= t('section.why.content_1')
      %p= t('section.why.content_2')        
      %p= t('section.why.content_3')

    %section.panel
      %header
        %h2= t('section.who.heading')

      %p= t('section.who.content_1')
      %p= t('section.who.content_2')
        
    %section.panel
      %header
        %h2= t('section.sponsors.heading')

      %ul
        %li= link_to "Thought Sauce", "http://thought-sauce.com"
        %li= link_to "Hooko", "http://hooko.com"
        %li= t('section.sponsors.remarks')

    %section.panel
      %header
        %h2= t('section.equipment.heading')
      %p=t('section.equipment.content.desc')
        
      %ul
        %li=t('section.equipment.content.wifi')
        %li=t('section.equipment.content.sleeping_bags')
        %li=t('section.equipment.content.food')
        %li=t('section.equipment.content.snacks_drinks')

    %section.panel
      %header
        %h2=t('section.questions.heading')
      %p=t('section.questions.content_1')
      %p
        =link_to t('section.questions.google_group'), "http://groups.google.com/group/codeaholics"
      %p
        =link_to t('section.questions.facebook_page'), "https://www.facebook.com/codeaholics"
      %p
        =t('section.questions.content_2')
        =link_to t('section.questions.proposal'), "http://codeaholics-hk-camp-2012.herokuapp.com/"

  .span3
    %figure
      = image_tag("camp_logo.png")

    %aside.panel
      %h3=t('section.sidebar.wanna_join')
      %p
        =t('section.sidebar.register')
        =link_to( image_tag("github.png", title: "Github OAuth"), register_path)

      = partial "social"
      
    %aside.panel
      %h3=t('section.sidebar.counters.heading')
      %p
        =t('section.sidebar.counters.registered_coders')
        %strong= Account.where(role: "users").count

      %p
        =t('section.sidebar.counters.proposed_ideas')
        %strong= Idea.count
