-# encoding: utf-8
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('menu.link.hong_kong_code_camp'), "/" , class: "brand"
      #main-menu.nav-collapse
        %ul#main-menu-left.nav
          %li= link_to t('menu.link.ideas'), "#{locale_path}/ideas"
          %li= link_to t('menu.link.coders'), "#{locale_path}/coders"
          %li= link_to t('menu.link.blog'), "#{locale_path}/posts"

        %ul#main-menu-right.nav.pull-right
          - if current_account
            %li
              = link_to "#" do
                = gravatar_tag(current_account, size: 20)
                = t('menu.link.me')
          - else
            %li
              = link_to '/auth/github' do
                = t('menu.link.register')

            %li.dropdown
              =link_to "#", {:class => "dropdown-toggle", :data => {:toggle => "dropdown", :target => "#"}} do
                = locale_name
                <b class="caret"></b>
              %ul.dropdown-menu
                %li
                  = link_to t('menu.link.switch_lang'), "#"
                %li.divider
                - ALL_LOCALE.map do |key, value|                              
                  %li
                    =link_to value, "/#{key}"                            