!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ lang: "en" }
  <!--<![endif]-->
  %head
    %meta{ charset: "utf-8"}
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{ name: 'author', content: "Matthew Rudy Jacobs, Eddie Lau" }/
    %meta{ name: 'description', content: "24 Hours Code Camp for Hong Kong. 12 Oct 2012(Fri) to 13 Oct 2012(Sat). By community and for community." }/
    %meta{ name: 'keywords', content: "Hong Kong,Coder,Camp" }/
    %meta{ name: 'distribution', content: 'global' }/
    %meta{ name: 'robots', content: 'follow, all' }/
    %meta{ name: 'language', content: 'en' }/
    %meta{ name: 'googlebot', content: 'index, follow' }/
    %meta{ name: 'revisit-after', content: '2 days' }/

    = favicon_tag("favicon.png")
    = favicon_tag("favicon.ico")
    = favicon_tag("apple-touch-icon.png",       rel: "apple-touch-icon", type: "image/png")
    = favicon_tag("apple-touch-icon-72x72.png", rel: "apple-touch-icon", type: "image/png", sizes: "72x72")
    = favicon_tag("apple-touch-icon-114x114.png", rel: "apple-touch-icon", type: "image/png", sizes: "114x114")


    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"


    %title Hong Kong Code Camp 2012

    = stylesheet_link_tag "bootstrap.min", "all"

  %body
    = partial "/layouts/navbar"

    .main-content
      .container
        = yield

    = partial "/layouts/footer"
